<div class="container">
  <h3>Ask your coach anything</h3>
  <form action="/answer" data-turbo='false'>
    <input type="text" name="question" placeholder="anything">
    <input type="submit" value="ask">
  </form>
</div>
